@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-color: rgba(0, 0, 0, 0.3);

  /* shiki theme noir */
  --shiki-foreground: #ffffff;
  --shiki-token-constant: #a7a7a7;
  --shiki-token-string: #a7a7a7;
  --shiki-token-comment: #666666;
  --shiki-token-keyword: #a7a7a7;
  --shiki-token-parameter: #a7a7a7;
  --shiki-token-function: #ffffff;
  --shiki-token-string-expression: #a7a7a7;
  --shiki-token-punctuation: #a7a7a7;
  --shiki-token-link: #a7a7a7;
  --shiki-token-number: #ffffff;
  --shiki-token-property: #a7a7a7;
}

:root.dark {
  --scrollbar-color: rgba(255, 255, 255, 0.3);
}

html {
  -webkit-tap-highlight-color: transparent;
  scrollbar-gutter: stable;
  scrollbar-color: var(--scrollbar-color) transparent;
  scrollbar-width: thin;
}

/* fix radix dropdown-menu layout shift */
html body[data-scroll-locked] {
  margin-right: 0 !important;
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border border-zinc-200 bg-white text-center -indent-px font-mono text-base font-medium dark:border-zinc-800 dark:bg-zinc-950;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}
